# Import Pandas

In [1]:
import pandas as pd

# Load data into a dataframe

In [2]:
BASE = "UHSRESULTSPART2.csv"
EXTRA = "MarksData.csv"
FILENAME = "UHS2"
df_base = pd.read_csv(BASE)
df_base.head(10)
df_extra = pd.read_csv(EXTRA)
df_extra.head(10)

,RA,Dec,PmrA,PMDEC,sigPMRA,sigPMDEC,w1mpro_pm,w1sigmpro_pm,w2mpro_pm,w2sigmpro_pm,2MASSRA,2MASSDEC,j_m,j_msigcom,h_m,h_msigcom,k_m,k_msigcom,Unnamed: 18
0,359.906120,-8.837616,0.12063,0.00614,0.01450,0.0145,15.239,0.019,14.664,0.022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.295146,-9.537763,0.46477,-0.28417,0.09770,0.0943,18.556,0.200,16.111,0.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.002239,-15.580039,-0.00660,0.26086,0.06524,0.0038,9.416,0.011,9.222,0.008,0.001162,-15.580398,10.474,0.0231,9.899,0.0246,9.627,0.0197,NaN
3,359.610523,-15.882858,0.12830,-0.04228,0.01450,0.0136,14.898,0.018,14.948,0.034,359.610109,-15.882720,15.785,0.0671,15.239,0.0718,14.869,0.0926,NaN
4,359.226041,-15.889380,-0.43102,-0.69168,0.01490,0.0148,15.574,0.028,13.830,0.022,359.228210,-15.886426,15.824,0.0574,15.630,0.1000,15.771,0.1831,NaN
5,359.226267,-15.889004,-0.50104,-0.79827,0.02420,0.0251,16.313,0.036,14.551,0.022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,359.973032,-28.165985,-0.00670,-0.28520,0.03330,0.0357,17.051,0.055,15.034,0.031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.573095,-29.655268,0.13613,-0.00823,0.00940,0.0087,14.302,0.014,14.119,0.016,0.572648,-29.655226,15.248,0.0473,14.687,0.0493,14.408,0.0685,NaN
8,359.999839,-30.024475,0.32629,-0.30010,0.00990,0.0093,14.405,0.015,14.196,0.018,359.998365,-30.023087,15.328,0.0437,14.838,0.0695,14.465,0.0892,NaN
9,0.392750,-33.211435,0.20955,-0.02961,0.01400,0.0129,15.160,0.018,14.851,0.025,0.391804,-33.211315,16.067,0.0953,15.410,0.1307,15.343,0.2074,NaN

# Change indexing to the BASE dataframe

In [3]:
def incremeter(x):
    return 3000 + x
df_base.upload_ID = df_base.upload_ID.apply(incremeter)

# Change indexing for Base to "upload_ID"

In [4]:
df_base.set_index('upload_ID', inplace=True)
df_base.head(5)

,upload_RA,upload_Dec,distance,ra,dec,jAperMag3,jAperMag3Err
upload_ID,,,,,,,
3001,161.571524,23.245712,3.155830,161.572261,23.246268,14.336910,0.003865
3001,161.571524,23.245712,0.312862,161.571430,23.245721,15.992447,0.010017
3002,160.257508,58.709567,0.000000,0.000000,0.000000,0.000000,0.000000
3003,161.682714,-12.928465,0.000000,0.000000,0.000000,0.000000,0.000000
3004,161.190842,-14.215406,0.000000,0.000000,0.000000,0.000000,0.000000

In [5]:
df_base.join(df_extra).iloc[: , :21]

,upload_RA,upload_Dec,distance,ra,dec,jAperMag3,jAperMag3Err,RA,Dec,PmrA,...,sigPMRA,sigPMDEC,w1mpro_pm,w1sigmpro_pm,w2mpro_pm,w2sigmpro_pm,2MASSRA,2MASSDEC,j_m,j_msigcom
3001,161.571524,23.245712,3.155830,161.572261,23.246268,14.336910,0.003865,161.190778,-14.215406,-0.22120,...,0.0274,0.0328,15.966,0.032,15.179,0.037,161.191645,-14.216318,15.599,0.0567
3001,161.571524,23.245712,0.312862,161.571430,23.245721,15.992447,0.010017,161.190778,-14.215406,-0.22120,...,0.0274,0.0328,15.966,0.032,15.179,0.037,161.191645,-14.216318,15.599,0.0567
3002,160.257508,58.709567,0.000000,0.000000,0.000000,0.000000,0.000000,161.014366,21.085864,-0.14550,...,0.0144,0.0162,15.302,0.019,15.208,0.032,161.014826,21.085676,16.453,0.0890
3003,161.682714,-12.928465,0.000000,0.000000,0.000000,0.000000,0.000000,161.965701,21.404147,-2.24746,...,0.0265,0.0277,15.816,0.024,13.530,0.012,NaN,NaN,NaN,NaN
3004,161.190842,-14.215406,0.000000,0.000000,0.000000,0.000000,0.000000,161.239030,-6.981401,-0.36415,...,0.0136,0.0145,15.073,0.018,14.917,0.028,161.240891,-6.980922,16.153,0.0723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,358.299761,26.307183,0.100967,358.299731,26.307192,17.877619,0.047747,358.403751,0.791407,-0.03157,...,0.0147,0.0145,14.986,0.017,14.803,0.026,358.403937,0.792885,15.939,0.0776
6037,358.371145,-17.903664,0.000000,0.000000,0.000000,0.000000,0.000000,358.512230,2.670170,0.46340,...,0.0381,0.0389,18.053,0.142,15.018,0.030,NaN,NaN,NaN,NaN
6038,357.876831,-18.966801,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6039,358.403760,0.791407,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6040,358.512101,2.670170,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Save unflitered version

In [6]:
df_base.to_csv(FILENAME + "/Final_Output.csv")

# Remove duplicates, keep lowest distance

In [7]:
df_base = pd.read_csv(FILENAME + "/Final_Output.csv")
df_base = df_base.sort_values("distance",ascending=False).drop_duplicates('upload_ID', keep='last').sort_index()
df_base.set_index("upload_ID", inplace=True)
df_base.head(20)

,upload_RA,upload_Dec,distance,ra,dec,jAperMag3,jAperMag3Err
upload_ID,,,,,,,
3001,161.571524,23.245712,0.312862,161.571430,23.245721,15.992447,0.010017
3002,160.257508,58.709567,0.000000,0.000000,0.000000,0.000000,0.000000
3003,161.682714,-12.928465,0.000000,0.000000,0.000000,0.000000,0.000000
3004,161.190842,-14.215406,0.000000,0.000000,0.000000,0.000000,0.000000
3005,161.014409,21.085864,0.163194,161.014416,21.085819,16.382786,0.014875
3006,161.966371,21.404147,1.953027,161.966839,21.404470,15.458193,0.007980
3007,161.239132,-6.981401,0.000000,0.000000,0.000000,0.000000,0.000000
3008,162.075640,-19.426355,0.000000,0.000000,0.000000,0.000000,0.000000
3009,161.186372,20.365609,0.293029,161.186420,20.365677,15.530947,0.006972
3010,161.692832,-41.778032,0.000000,0.000000,0.000000,0.000000,0.000000
3011,161.327986,-41.713589,0.000000,0.000000,0.000000,0.000000,0.000000
3012,161.568134,30.097028,0.218911,161.568204,30.097022,16.708680,0.018452
3013,161.161559,-1.891565,0.000000,0.000000,0.000000,0.000000,0.000000
3014,160.937290,-44.914218,0.000000,0.000000,0.000000,0.000000,0.000000
3015,161.701795,-0.279821,0.000000,0.000000,0.000000,0.000000,0.000000
3016,161.858262,45.837744,0.149089,161.858288,45.837781,15.558788,0.007803
3017,161.817987,-47.795358,0.000000,0.000000,0.000000,0.000000,0.000000
3018,162.236281,-71.560535,0.000000,0.000000,0.000000,0.000000,0.000000
3019,162.764245,-50.879894,0.000000,0.000000,0.000000,0.000000,0.000000
3020,162.576519,-68.515219,0.000000,0.000000,0.000000,0.000000,0.000000

# Write to a csv file

In [8]:
df_base.to_csv(FILENAME + "/Final_Output_Cleansed.csv")