# Import Pandas

In [1]:
import pandas as pd

# Load data into a dataframe

In [8]:
BASE = "VHSResultspart2.csv"
EXTRA = "MarksData.csv"
df_base = pd.read_csv(BASE)
df_base.head(10)
df_extra = pd.read_csv(EXTRA)
df_extra.head(10)

,RA,Dec,PmrA,PMDEC,sigPMRA,sigPMDEC,w1mpro_pm,w1sigmpro_pm,w2mpro_pm,w2sigmpro_pm,2MASSRA,2MASSDEC,j_m,j_msigcom,h_m,h_msigcom,k_m,k_msigcom,Unnamed: 18
0,359.906120,-8.837616,0.12063,0.00614,0.01450,0.0145,15.239,0.019,14.664,0.022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.295146,-9.537763,0.46477,-0.28417,0.09770,0.0943,18.556,0.200,16.111,0.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.002239,-15.580039,-0.00660,0.26086,0.06524,0.0038,9.416,0.011,9.222,0.008,0.001162,-15.580398,10.474,0.0231,9.899,0.0246,9.627,0.0197,NaN
3,359.610523,-15.882858,0.12830,-0.04228,0.01450,0.0136,14.898,0.018,14.948,0.034,359.610109,-15.882720,15.785,0.0671,15.239,0.0718,14.869,0.0926,NaN
4,359.226041,-15.889380,-0.43102,-0.69168,0.01490,0.0148,15.574,0.028,13.830,0.022,359.228210,-15.886426,15.824,0.0574,15.630,0.1000,15.771,0.1831,NaN
5,359.226267,-15.889004,-0.50104,-0.79827,0.02420,0.0251,16.313,0.036,14.551,0.022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,359.973032,-28.165985,-0.00670,-0.28520,0.03330,0.0357,17.051,0.055,15.034,0.031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.573095,-29.655268,0.13613,-0.00823,0.00940,0.0087,14.302,0.014,14.119,0.016,0.572648,-29.655226,15.248,0.0473,14.687,0.0493,14.408,0.0685,NaN
8,359.999839,-30.024475,0.32629,-0.30010,0.00990,0.0093,14.405,0.015,14.196,0.018,359.998365,-30.023087,15.328,0.0437,14.838,0.0695,14.465,0.0892,NaN
9,0.392750,-33.211435,0.20955,-0.02961,0.01400,0.0129,15.160,0.018,14.851,0.025,0.391804,-33.211315,16.067,0.0953,15.410,0.1307,15.343,0.2074,NaN

# Change indexing for Base to "upload_ID"

In [9]:
df_base.set_index('upload_ID', inplace=True)
df_base.head(5)

,upload_RA,upload_Dec,distance,ra,dec,jAperMag3,jAperMag3Err,hAperMag3,hAperMag3Err,ksAperMag3,ksAperMag3Err
upload_ID,,,,,,,,,,,
3001,161.571524,23.245712,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
3002,160.257508,58.709567,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
3003,161.682714,-12.928465,0.594142,161.682833,-12.928348,1.506188e+01,3.817000e-03,14.598412,0.004560,14.387593,0.008975
3004,161.190842,-14.215406,3.511899,161.191345,-14.216251,1.561598e+01,5.551000e-03,15.124837,0.008234,14.885620,0.012634
3004,161.190842,-14.215406,0.212768,161.190823,-14.215462,-9.999995e+08,-9.999995e+08,18.881853,0.235797,17.657999,0.151787

In [10]:
df_base.join(df_extra).iloc[: , :21]

,upload_RA,upload_Dec,distance,ra,dec,jAperMag3,jAperMag3Err,hAperMag3,hAperMag3Err,ksAperMag3,...,RA,Dec,PmrA,PMDEC,sigPMRA,sigPMDEC,w1mpro_pm,w1sigmpro_pm,w2mpro_pm,w2sigmpro_pm
3001,161.571524,23.245712,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,161.190778,-14.215406,-0.22120,0.06932,0.0274,0.0328,15.966,0.032,15.179,0.037
3002,160.257508,58.709567,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,161.014366,21.085864,-0.14550,0.03600,0.0144,0.0162,15.302,0.019,15.208,0.032
3003,161.682714,-12.928465,0.594142,161.682833,-12.928348,1.506188e+01,3.817000e-03,14.598412,0.004560,14.387593,...,161.965701,21.404147,-2.24746,-0.70053,0.0265,0.0277,15.816,0.024,13.530,0.012
3004,161.190842,-14.215406,3.511899,161.191345,-14.216251,1.561598e+01,5.551000e-03,15.124837,0.008234,14.885620,...,161.239030,-6.981401,-0.36415,-0.11905,0.0136,0.0145,15.073,0.018,14.917,0.028
3004,161.190842,-14.215406,0.212768,161.190823,-14.215462,-9.999995e+08,-9.999995e+08,18.881853,0.235797,17.657999,...,161.239030,-6.981401,-0.36415,-0.11905,0.0136,0.0145,15.073,0.018,14.917,0.028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,358.299761,26.307183,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,358.403751,0.791407,-0.03157,-0.39380,0.0147,0.0145,14.986,0.017,14.803,0.026
6037,358.371145,-17.903664,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,358.512230,2.670170,0.46340,-0.48928,0.0381,0.0389,18.053,0.142,15.018,0.030
6038,357.876831,-18.966801,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6039,358.403760,0.791407,1.527268,358.403790,0.791830,1.582294e+01,7.867000e-03,15.398849,0.010720,15.151157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6040,358.512101,2.670170,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN