# Import Pandas

In [42]:
import pandas as pd

# Load data into a dataframe

In [43]:
BASE = "UHSRESULTSPART1.csv"
EXTRA = "MarksData.csv"
FILENAME = "UHS1"
df_base = pd.read_csv(BASE)
df_base.head(10)
df_extra = pd.read_csv(EXTRA)
df_extra.head(10)

,RA,Dec,PmrA,PMDEC,sigPMRA,sigPMDEC,w1mpro_pm,w1sigmpro_pm,w2mpro_pm,w2sigmpro_pm,2MASSRA,2MASSDEC,j_m,j_msigcom,h_m,h_msigcom,k_m,k_msigcom,Unnamed: 18
0,359.906120,-8.837616,0.12063,0.00614,0.01450,0.0145,15.239,0.019,14.664,0.022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.295146,-9.537763,0.46477,-0.28417,0.09770,0.0943,18.556,0.200,16.111,0.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.002239,-15.580039,-0.00660,0.26086,0.06524,0.0038,9.416,0.011,9.222,0.008,0.001162,-15.580398,10.474,0.0231,9.899,0.0246,9.627,0.0197,NaN
3,359.610523,-15.882858,0.12830,-0.04228,0.01450,0.0136,14.898,0.018,14.948,0.034,359.610109,-15.882720,15.785,0.0671,15.239,0.0718,14.869,0.0926,NaN
4,359.226041,-15.889380,-0.43102,-0.69168,0.01490,0.0148,15.574,0.028,13.830,0.022,359.228210,-15.886426,15.824,0.0574,15.630,0.1000,15.771,0.1831,NaN
5,359.226267,-15.889004,-0.50104,-0.79827,0.02420,0.0251,16.313,0.036,14.551,0.022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,359.973032,-28.165985,-0.00670,-0.28520,0.03330,0.0357,17.051,0.055,15.034,0.031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.573095,-29.655268,0.13613,-0.00823,0.00940,0.0087,14.302,0.014,14.119,0.016,0.572648,-29.655226,15.248,0.0473,14.687,0.0493,14.408,0.0685,NaN
8,359.999839,-30.024475,0.32629,-0.30010,0.00990,0.0093,14.405,0.015,14.196,0.018,359.998365,-30.023087,15.328,0.0437,14.838,0.0695,14.465,0.0892,NaN
9,0.392750,-33.211435,0.20955,-0.02961,0.01400,0.0129,15.160,0.018,14.851,0.025,0.391804,-33.211315,16.067,0.0953,15.410,0.1307,15.343,0.2074,NaN

# Change indexing to the BASE dataframe

In [44]:
def incremeter(x):
    return 0 + x
df_base.upload_ID = df_base.upload_ID.apply(incremeter)

# Change indexing for Base to "upload_ID"

In [45]:
df_base.set_index('upload_ID', inplace=True)
df_base.head(5)

            upload_RA  upload_Dec  distance   ra  dec  jAperMag3  jAperMag3Err
upload_ID
1          359.906087   -8.837616       0.0  0.0  0.0        0.0           0.0
2            0.295015   -9.537763       0.0  0.0  0.0        0.0           0.0
3            0.002241  -15.580039       0.0  0.0  0.0        0.0           0.0
4          359.610486  -15.882858       0.0  0.0  0.0        0.0           0.0
5          359.226165  -15.889380       0.0  0.0  0.0        0.0           0.0

In [46]:
df_base.join(df_extra).iloc[: , :21]

,upload_RA,upload_Dec,distance,ra,dec,jAperMag3,jAperMag3Err,RA,Dec,PmrA,...,sigPMRA,sigPMDEC,w1mpro_pm,w1sigmpro_pm,w2mpro_pm,w2sigmpro_pm,2MASSRA,2MASSDEC,j_m,j_msigcom
1,359.906087,-8.837616,0.000000,0.000000,0.000000,0.000000,0.000000,0.295146,-9.537763,0.46477,...,0.09770,0.0943,18.556,0.200,16.111,0.072,NaN,NaN,NaN,NaN
2,0.295015,-9.537763,0.000000,0.000000,0.000000,0.000000,0.000000,0.002239,-15.580039,-0.00660,...,0.06524,0.0038,9.416,0.011,9.222,0.008,0.001162,-15.580398,10.474,0.0231
3,0.002241,-15.580039,0.000000,0.000000,0.000000,0.000000,0.000000,359.610523,-15.882858,0.12830,...,0.01450,0.0136,14.898,0.018,14.948,0.034,359.610109,-15.882720,15.785,0.0671
4,359.610486,-15.882858,0.000000,0.000000,0.000000,0.000000,0.000000,359.226041,-15.889380,-0.43102,...,0.01490,0.0148,15.574,0.028,13.830,0.022,359.228210,-15.886426,15.824,0.0574
5,359.226165,-15.889380,0.000000,0.000000,0.000000,0.000000,0.000000,359.226267,-15.889004,-0.50104,...,0.02420,0.0251,16.313,0.036,14.551,0.022,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2998,159.575159,62.775717,0.000000,0.000000,0.000000,0.000000,0.000000,161.571436,23.245712,-0.29231,...,0.01780,0.0194,14.731,0.024,14.658,0.028,161.572657,23.246157,14.382,0.0300
2999,161.847475,28.392516,1.862171,161.847523,28.392001,19.479061,0.203370,160.257465,58.709567,-0.08156,...,0.00740,0.0080,14.248,0.015,14.024,0.013,160.258106,58.709805,15.316,0.0545
2999,161.847475,28.392516,8.908558,161.848604,28.394783,17.839567,0.047382,160.257465,58.709567,-0.08156,...,0.00740,0.0080,14.248,0.015,14.024,0.013,160.258106,58.709805,15.316,0.0545
3000,161.571524,23.245712,3.155830,161.572261,23.246268,14.336910,0.003865,161.682663,-12.928465,-0.17865,...,0.00850,0.0100,14.276,0.015,14.188,0.018,161.683421,-12.927946,15.076,0.0346
3000,161.571524,23.245712,0.312862,161.571430,23.245721,15.992447,0.010017,161.682663,-12.928465,-0.17865,...,0.00850,0.0100,14.276,0.015,14.188,0.018,161.683421,-12.927946,15.076,0.0346

# Save unflitered version

In [47]:
df_base.to_csv(FILENAME + "/Final_Output.csv")

# Remove duplicates, keep lowest distance

In [48]:
df_base = pd.read_csv(FILENAME + "/Final_Output.csv")
df_base = df_base.sort_values("distance",ascending=False).drop_duplicates('upload_ID', keep='last').sort_index()
df_base.set_index("upload_ID", inplace=True)
df_base.head(20)

            upload_RA  upload_Dec  distance   ra  dec  jAperMag3  jAperMag3Err
upload_ID
1          359.906087   -8.837616       0.0  0.0  0.0        0.0           0.0
2            0.295015   -9.537763       0.0  0.0  0.0        0.0           0.0
3            0.002241  -15.580039       0.0  0.0  0.0        0.0           0.0
4          359.610486  -15.882858       0.0  0.0  0.0        0.0           0.0
5          359.226165  -15.889380       0.0  0.0  0.0        0.0           0.0
6          359.226411  -15.889004       0.0  0.0  0.0        0.0           0.0
7          359.973034  -28.165985       0.0  0.0  0.0        0.0           0.0
8            0.573052  -29.655268       0.0  0.0  0.0        0.0           0.0
9          359.999734  -30.024475       0.0  0.0  0.0        0.0           0.0
10           0.392680  -33.211435       0.0  0.0  0.0        0.0           0.0
11         359.955119  -33.025425       0.0  0.0  0.0        0.0           0.0
12           0.059861  -33.204479       0.0  0.0  0.0        0.0           0.0
13           0.203706  -35.158944       0.0  0.0  0.0        0.0           0.0
14           0.667486  -34.230386       0.0  0.0  0.0        0.0           0.0
15           0.546306  -43.166593       0.0  0.0  0.0        0.0           0.0
16         359.186590  -48.249022       0.0  0.0  0.0        0.0           0.0
17           0.497816  -49.436266       0.0  0.0  0.0        0.0           0.0
18           1.194993  -55.871398       0.0  0.0  0.0        0.0           0.0
19         359.655968  -55.499753       0.0  0.0  0.0        0.0           0.0
24           0.643619  -59.314673       0.0  0.0  0.0        0.0           0.0

# Write to a csv file

In [49]:
df_base.to_csv(FILENAME + "/Final_Output_Cleansed.csv")